
@model IEnumerable<SportsPro.Models.Incident>

@{
    ViewData["Title"] = "Incident Manager";
}

@if (TempData.Keys.Contains("message"))
{
    <h4 class="alert alert-primary text-center p-2">
        @TempData["message"]
    </h4>
}


<div id="index-incidents">
    <partial name="_selected-incidents" model="@Model" />
</div>

<p>
    <a asp-action="Create">Add new incident</a> |
    <a href="../">Back</a>
</p>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $('#incidentnav').addClass("active");
    $('#technician').removeClass("active");
    $('#product').removeClass("active");
    $('#registration').removeClass("active");
    $('#customer').removeClass("active");
</script>