@model IEnumerable<SportsPro.Models.Technician>
@{
    ViewData["Title"] = "Technicians";
    var techs = new SelectList(Model, "TechnicianID", "Name");
    var tech = Model.First();
}
<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label"></label>
                <select id="uxTechSelection" class="form-control" asp-items="techs">
                    <option value="" selected>Select Technician</option>
                </select>
            </div>
            <button id="btn-click" value="Find Incidents" class="mb-2 mt-1 btn btn-primary" >Find Incidents</button>
        </form>
    </div>
</div>
@*div to be updated with partial view based on user selection*@
<div id="uxIncidents">
</div>
<div id="uxErrorMsg" style="height:50px;">
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
   //dynamically loading partial view depending on user selection
    $(document).ready(() => {
        $('#btn-click').click((e) => {
            e.preventDefault();
            var techId = $("#uxTechSelection").val();
            if (parseInt(techId) > 0) {
                //saving selected technician id to be used later 
                sessionStorage.setItem("techId", techId);
                $.ajax({
                    method: 'GET',
                    url: '/incidents/techIncidents',
                    data: { id: techId }
                }).done(function (result, statusText, xhdr) {
                    $('#uxIncidents').html(result);
                    $('#uxErrorMsg').html("");
                });
            }
            else
            {
                $('#uxErrorMsg').html('<p class="text-danger">Please choose a technician name</p>');
                $('#uxIncidents').html("");
            }
            
        });
    });
//retrieving active technician through session
    $(document).ready(() => {
        let techId = sessionStorage.getItem("techId");
        if (techId != null)
        {       $.ajax({
                method: 'GET',
                url: '/incidents/techIncidents',
                data: { id: techId }
            }).done(function (result, statusText, xhdr) {
                $('#uxIncidents').html(result);
                $('#uxErrorMsg').html("");

            });
            $('#uxTechSelection').val(techId);
        }
        });
</script>
