@{
    ViewData["Title"] = "About us";
}

<div class="jumbotron">
    <h1 class="display-4">About SportsPro</h1>
    <p class="lead">
        SportsPro Technican Support constantly strives to provide the highest level of technical support
        for all the products in SportsPro family.
    </p>
    <hr class="my-4">
    <p>World class technical support for all our products. Guaranteed peace of mind with any purchase!</p>
    <p class="lead">
        <a class="btn btn-dark btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>


