@model IEnumerable<SportsPro.Models.Incident>
@{ ViewData["Title"] = "Dashboard"; }

@if (!User.Identity.IsAuthenticated)
{<h1>SportsPro Technical Support</h1>
    <p>Sports management software for the sports enthusiast</p>
}


@{ if (User.IsInRole("Technician"))
    {
        <br />
        <h3>Dashboard</h3>
        <hr />
        @if (this.Model.Count() > 0)
        {
            @*<nav class="nav nav-pills nav-justified">
                    <a id="alltechincidents" class="nav-link active" href="">All incidents</a>
                    <a id="opentechincidents" class="nav-link" href="">Open incidents</a>
                </nav>*@

            <ul class="nav nav-tabs container mb-3">

                <li class="nav-item">
                    <a id="alltechincidents" class="nav-link" href="">All Incidents</a>
                </li>
                <li class="nav-item">
                    <a id="opentechincidents" class="nav-link" href="">Open Incidents</a>
                </li>
            </ul>
        }
        <br />
        <div id="techincidents">
            <partial name="_selected-incidents" model="@Model" />
        </div>
    }
}

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(() => {

        $('#alltechincidents').click((e) => {
            e.preventDefault();
            $.ajax({
                method: 'GET',
                url: '/home/GetTechIncidents',
                data: { name: 'all-incidents' }
            }).done(function (result, statusText, xhdr) {
                $('#techincidents').html(result);
            });
            $('#alltechincidents').addClass("active");
            $('#opentechincidents').removeClass("active");
        });

        $('#opentechincidents').click((e) => {
            e.preventDefault();
            $.ajax({
                method: 'GET',
                url: '/home/GetTechIncidents',
                data: { name: 'open-incidents' }
            }).done(function (result, statusText, xhdr) {
                $('#techincidents').html(result);
            });
            $('#alltechincidents').removeClass("active");
            $('#opentechincidents').addClass("active");
        });


        $(document).ready(() => {

            $('#unassigned-incidents').removeClass("active");
            $('#all-incidents').addClass("active");
            $('#open-incidents').removeClass("active");
            });


    });
</script>


